 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

 * {
     font-family: 'Mulish', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Work Sans', sans-serif;
 }

 .header-file {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .header-title {
     color: #131318;
     font-size: 16px;
     font-weight: 800px;
 }

 .travel-color,
 #home-color,.footer-title {
     color: #FF5400;
 }

 .header-menu a {
     text-decoration: none;
     color: black;
     gap: 44px;
 }

 .bg-img-container {
     width: 1170px;
     height: 500px;
     margin: 0px auto;
     background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
     padding-top: 106px;
     background-repeat: no-repeat;

 }

 .banner-container {
     text-align: center;


 }

 .bg-img-container h1 {
     color: #FFF;
     font-size: 64px;
     font-weight: 800;
 }

 .bg-img-container p {
     color: #FFF;
     font-size: 16px;
     font-weight: 400;
 }

 .travel-input {
     display: flex;
 }

 .banner-input {
     display: flex;
     padding-left: 200px;
     border: none;
     border-radius: 8px;
     gap: 24px;
     width: 174px;
     height: 52px;
 }

 .banner-input input {
     padding: 16px;
 }

 .but-primary button {
     width: 174px;
     height: 52px;
     border-radius: 8px;
     border: none;
     background: #FF5400;
     padding: 16px;

 }

 #tour {
     margin: 100px 135px;
 }

 .title-img-container {
     display: flex;

     gap: 30px;


 }

 .destination-title h2 {
     color: #131318;
     text-align: center;
     font-size: 40px;
     font-weight: 800;
 }

 .destination-title p {
     color: rgba(19, 19, 24, 0.70);
     text-align: center;
     font-size: 16px;
     font-weight: 400;
 }

 .destination-img-1 {
     margin: 20px 170px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }

 .destination-img-2 {
     margin: 5px, 140px;
     margin-left: 170px;
     display: grid;
     grid-template-columns: repeat(3, 1fr) 100px 200px 100px;
     gap: 20px;
 }

 .destination-img-3 {
     margin: 20px 170px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }

 .choose-item {
     color: #131318;
     text-align: center;
     font-size: 40px;
     font-weight: 800;
 }

 .choose-item p {
     color: rgba(19, 19, 24, 0.70);
     text-align: center;
     font-size: 16px;
     font-weight: 400;
 }

 .choose-item-2 {
     display: flex;
     margin: 20px 170px;
     gap: 20px;

 }

 .Choose-hotel {
     width: 573px;
     height: 284px;
     padding: 20px;
     border-radius: 16px;
     border: 1px solid rgba(251, 181, 99, 0.20);
     background: rgba(251, 181, 99, 0.05);
 }

 .Choose-map {
     width: 573px;
     height: 284px;
     padding: 20px;
     border-radius: 16px;
     border: 1px solid rgba(41, 206, 246, 0.20);
     background: rgba(41, 206, 246, 0.05);
 }


 .choose-item-3 {
     width: 573px;
     height: 284px;
     padding: 20px;
     border-radius: 16px;
     border: 1px solid rgba(233, 68, 68, 0.20);
     background: rgba(233, 68, 68, 0.05);
     margin: 20px auto;

 }

 .news-container {
     display: flex;
     margin: 20px 170px;
     gap: 20px;
 }

 .Newsletter {
     border: 2px solid #FF5400;
     background: #FFF;
     padding: 5px;
 }

 .news-input {
     display: grid;
     grid-row: auto;
     gap: 20px;
     width: 400px;
     /* height: 62px; */
     height: 50%;
     padding: 41px;
 }

 .news-input button {
    border: 0px;
    border-radius: 8px;
     background: #FF5400;
     color: #FFF;
 }
 .footer{
    text-align: center;
    margin: 50px 330px;
    background: rgba(19, 19, 24, 0.05);
    padding: 20px;
 }



 @media screen and (min-width:992px) {
     .bg-img-container {
         width: 75%;
     }

     .banner-input {
         padding-left: 100px;
     }
 }

 @media screen and (max-width:600px) {
     .bg-img-container {
         width: 100%;
         padding: 0px;
     }


     .banner-input {
         flex-direction: column;
         gap: 2px;
         padding-left: 90px;
     }

     .title-img-container {
         flex-direction: column-reverse;
     }

     #tour {
         margin: 0px;
     }

     .div-img-2 {
         max-width: 100%;
     }
 }