 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

 * {
     font-family: 'Mulish', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Work Sans', sans-serif;
 }

 .header-file {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .header-title {
     color: #131318;
     font-size: 16px;
     font-weight: 800px;
 }

 .travel-color,
 #home-color {
     color: #FF5400;
 }

 .header-menu a {
     text-decoration: none;
     color: black;
     gap: 44px;
 }

 .bg-img-container {
     width: 1170px;
     height: 500px; 
     margin: 0px auto;
     background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
 }
  